html, body
{
  background-color: #fff;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin: 0;
}

*, *:after, *:before{
  box-sizing: border-box;
}

a, a:hover, a:focus, a:visited
{
  color: #715d60;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  margin: 0 0 0.5em 0;
}
p{
  margin: 0;
}
.container
{
  width:100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

/* .page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
} */

.center{
  text-align: center;
}